In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import sqlalchemy.dialects.sqlite as sqlite
import psycopg2
import urllib.parse

In [2]:
sqlite_engine = sql.create_engine('sqlite:///db/nycedudata.db')
pg_engine = sql.create_engine('postgresql+psycopg2://pguser:pguser@b4h4r.online:5433/doedata')

meta_sqlite = sql.MetaData(bind=sqlite_engine)
meta_pg = sql.MetaData(bind=pg_engine)

print(sqlite_engine.table_names())
print(pg_engine.table_names())

['Regents', 'Removals', 'SAT', 'School_Demos', 'Schools', 'Variable_Categories', 'sqlite_sequence']
['Schools', 'sat', 'schools', 'school_demos', 'variables', 'regents']

In [3]:
schools_sqlite = sql.Table('Schools',meta_sqlite,autoload=True,autoload_with=sqlite_engine)
vars_sqlite = sql.Table('Variable_Categories',meta_sqlite,autoload=True,autoload_with=sqlite_engine)
regents_sqlite = sql.Table('Regents',meta_sqlite,autoload=True,autoload_with=sqlite_engine)
sat_sqlite = sql.Table('SAT',meta_sqlite,autoload=True,autoload_with=sqlite_engine)
demos_sqlite = sql.Table('School_Demos', meta_sqlite, autoload=True, autoload_with=sqlite_engine)
removals_sqlite = sql.Table('Removals', meta_sqlite, autoload=True, autoload_with=sqlite_engine)

schools_pg = sql.Table('schools',meta_pg,autoload=True,autoload_with=pg_engine)
vars_pg = sql.Table('variables',meta_pg,autoload=True,autoload_with=pg_engine)
regents_pg = sql.Table('regents',meta_pg,autoload=True,autoload_with=pg_engine)
sat_pg = sql.Table('sat', meta_pg, autoload=True,autoload_with=pg_engine)
demos_pg = sql.Table('school_demos', meta_pg, autoload=True, autoload_with=pg_engine)

In [8]:
current_table = 'removals'

dbn_trigger = 'CREATE OR REPLACE FUNCTION dbn_update() \
                RETURNS TRIGGER AS $func$ \
                BEGIN \
                    INSERT INTO schools(dbn) VALUES (NEW.dbn) ON CONFLICT DO NOTHING;\
                    RETURN NEW; \
                END $func$ LANGUAGE plpgsql; \
                \
                DROP TRIGGER IF EXISTS dbn_check ON {}; \
                \
                CREATE TRIGGER dbn_check \
                BEFORE INSERT OR UPDATE OF dbn ON {} \
                FOR EACH ROW EXECUTE PROCEDURE dbn_update();'.format(current_table, current_table)

pg_engine.execute(dbn_trigger)

In [ ]:

# pg_engine.execute('DROP TABLE IF EXISTS schools;')

# schools_pg = sql.Table('schools', meta_pg,\
#             sql.Column('dbn', sql.String, primary_key=True),\
#             sql.Column('building_code', sql.String),\
#             sql.Column('school_name', sql.String),\
#             sql.Column('managed_by', sql.String),\
#             sql.Column('city', sql.String),\
#             sql.Column('zip', sql.String),\
#             sql.Column('nta', sql.String),\
#             sql.Column('neighborhood', sql.String),\
#             sql.Column('community_district', sql.String),\
#             sql.Column('council_district', sql.String),\
#             sql.Column('latitude', sql.String),\
#             sql.Column('longitude', sql.String),\
#             )
# schools_pg.create(pg_engine)

# schools_data = [dict(row) for row in sqlite_engine.execute(sql.select(meta_sqlite.sorted_tables[0].c))]

# pg_engine.execute(schools_pg.insert().values(schools_data))
# print(pg_engine.execute('SELECT * FROM schools LIMIT 10;').fetchall())

In [ ]:
# 

# pg_engine.execute('DROP TABLE IF EXISTS variables;')

# vars_pg = sql.Table('variables', meta_pg,\
#             sql.Column('var_id', sql.Integer, primary_key=True),\
#             sql.Column('var_name', sql.String),\
#             sql.Column('var_category', sql.String),\
#             sql.Column('var_type', sql.String),\
#             )
# vars_pg.create(pg_engine)

# vars_data = [dict(row) for row in sqlite_engine.execute(sql.select(vars_sqlite.c))]

# pg_engine.execute(vars_pg.insert().values(vars_data))
# print(pg_engine.execute('SELECT * FROM variables LIMIT 10;').fetchall())

In [ ]:
# pg_engine.execute('DROP TABLE IF EXISTS regents;')

# regents_data = [dict(row) for row in sqlite_engine.execute(sql.select(regents_sqlite.c))]
# for d in regents_data:
#     d['mean_score'] = float(d['mean_score'])

# regents_pg = sql.Table('regents', meta_pg,\
#             sql.Column('test_id', sql.Integer, primary_key=True),\
#             sql.Column('dbn', sql.String, sql.ForeignKey('schools.dbn')),\
#             sql.Column('school_year', sql.Integer),\
#             sql.Column('test_name', sql.String),\
#             sql.Column('school_demo_id', sql.Integer, sql.ForeignKey('variables.var_id')),\
#             sql.Column('test_num', sql.Integer),\
#             sql.Column('mean_score', sql.Float(precision=1)),\
#             sql.Column('num_lt_65', sql.Integer),\
#             sql.Column('num_gt_65', sql.Integer),\
#             sql.Column('num_gt_80', sql.Integer),\
#             )
# regents_pg.create(pg_engine)

# pg_engine.execute(regents_pg.insert(), regents_data)
# print(pg_engine.execute('SELECT * FROM regents LIMIT 10;').fetchall())

In [5]:
# pg_engine.execute('DROP TABLE IF EXISTS sat;')

# sat_data = [dict(row) for row in sqlite_engine.execute(sql.select(sat_sqlite.c))]
# for d in sat_data:
#     d['writing'] = int(d['writing'])
#     d['total_rm'] = int(d['total_rm'])
# print(sat_data[0])

# sat_pg = sql.Table('sat', meta_pg,\
#             sql.Column('test_id', sql.Integer, primary_key=True),\
#             sql.Column('dbn', sql.String, sql.ForeignKey('schools.dbn')),\
#             sql.Column('school_year', sql.Integer),\
#             sql.Column('test_takers', sql.Integer),\
#             sql.Column('reading', sql.Integer),\
#             sql.Column('math', sql.Integer),\
#             sql.Column('writing', sql.Integer),\
#             sql.Column('total_rm', sql.Integer),\
#             )

# sat_pg.create(pg_engine)

# # pg_engine.execute(sat_pg.insert(), sat_data)
# print(pg_engine.execute('SELECT * FROM sat LIMIT 10;').fetchall())

{'test_id': 1, 'dbn': '01m292', 'school_year': 2010, 'test_takers': 31, 'reading': 391, 'math': 425, 'writing': 385, 'total_rm': 816}

/home/bahar/.local/lib/python3.6/site-packages/sqlalchemy/sql/sqltypes.py:665: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

In [17]:
# pg_engine.execute('DROP TABLE IF EXISTS school_demos;')

# demos_data = [dict(row) for row in sqlite_engine.execute(sql.select(demos_sqlite.c))]

# print(demos_data[0])

# demos_pg = sql.Table('school_demos', meta_pg,\
#             sql.Column('school_demo_id', sql.Integer, primary_key=True),\
#             sql.Column('dbn', sql.String, sql.ForeignKey('schools.dbn')),\
#             sql.Column('school_year', sql.Integer),\
#             sql.Column('total_pop', sql.Integer),\
#             sql.Column('demo_cat_id', sql.Integer, sql.ForeignKey('variables.var_id')),\
#             sql.Column('demo_pop', sql.Integer),\
#             )
# demos_pg.create(pg_engine)

# pg_engine.execute(demos_pg.insert(), demos_data)
# print(pg_engine.execute('SELECT * FROM school_demos LIMIT 10;').fetchall())

{'school_demo_id': 1, 'dbn': '01m015', 'school_year': 2014, 'total_pop': 190, 'demo_cat_id': 14, 'demo_pop': '26'}

In [4]:
removals_data = [dict(row) for row in sqlite_engine.execute(sql.select(removals_sqlite.c))]

for d in removals_data:
    d['school_year'] = d.pop('year')

print(removals_data[0])

{'removal_id': 0, 'dbn': '01M015', 'number': 0, 'discipline_type': 'r', 'var_id': 28, 'school_year': 2016}

In [5]:
pg_engine.execute('DROP TABLE IF EXISTS removals;')

removals_pg = sql.Table('removals', meta_pg,\
            sql.Column('removal_id', sql.Integer, primary_key=True),\
            sql.Column('dbn', sql.String, sql.ForeignKey('schools.dbn')),\
            sql.Column('school_year', sql.Integer),\
            sql.Column('number', sql.Integer),\
            sql.Column('discipline_type', sql.String),\
            sql.Column('var_id', sql.Integer, sql.ForeignKey('variables.var_id')),\
            )
removals_pg.create(pg_engine)

In [9]:
pg_engine.execute(removals_pg.insert(), removals_data)
print(pg_engine.execute('SELECT * FROM removals LIMIT 10;').fetchall())

[(0, '01M015', 2016, 0, 'r', 28), (1, '01M019', 2016, 0, 'r', 28), (2, '01M020', 2016, None, 'r', 28), (3, '01M034', 2016, None, 'r', 28), (4, '01M063', 2016, 23, 'r', 28), (5, '01M064', 2016, None, 'r', 28), (6, '01M110', 2016, None, 'r', 28), (7, '01M134', 2016, 30, 'r', 28), (8, '01M140', 2016, 9, 'r', 28), (9, '01M142', 2016, 0, 'r', 28)]