In [3]:
import pandas as pd
import sqlalchemy as sql
import numpy as np

pg_engine = sql.create_engine('postgresql+psycopg2://pguser:pguser@b4h4r.online:5433/doedata')

In [5]:
removals_query = 'SELECT removals.dbn, removals.school_year, removals.number, \
                        removals.discipline_type, variables.var_name, variables.var_category, variables.var_type \
                  FROM removals INNER JOIN variables USING (var_id);'

removals_raw = pd.read_sql(removals_query,pg_engine)

print(removals_raw.loc[removals_raw['dbn'] == '05M285'])

           dbn  school_year  number       discipline_type          var_name  \
244     05M285         2016     0.0                     r          removals
1909    05M285         2016    13.0                     p         principal
3574    05M285         2016    13.0                     s    superintendent
5239    05M285         2016     0.0                     e        expulsions
6904    05M285         2016    26.0  all discipline types  total discipline
...        ...          ...     ...                   ...               ...
518058  05M285         2016     NaN                     e               sth
519723  05M285         2016     NaN                     r           non-sth
521388  05M285         2016     NaN                     p           non-sth
523053  05M285         2016     NaN                     s           non-sth
524718  05M285         2016     NaN                     e           non-sth

           var_category     var_type
244     discipline type   discipline
1909    discipline type   discipline
3574    discipline type   discipline
5239    discipline type   discipline
6904    discipline type   discipline
...                 ...          ...
518058          housing  demographic
519723          housing  demographic
521388          housing  demographic
523053          housing  demographic
524718          housing  demographic

[316 rows x 7 columns]